.main-content {
  background-color: #222;
  margin-top: -50px;
  height: 100%;
  margin: 0 auto;
  padding: 5px 20px 60px 20px;
  width: 83%;
  max-width: 750px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro {
  display: flex;
}

.conclusion {
  padding-top: 30px;
}

.opinion {
  padding-top: 50px;
  text-align: center;
}

